.footer-child {
  position: absolute;
  top: -24.81rem;
  left: 18.94rem;
  border-radius: 20px;
  width: 131.31rem;
  height: 76.69rem;
}
.footer-item {
  position: absolute;
  top: 0;
  left: 34.13rem;
  width: 62.88rem;
  height: 31.25rem;
}
.team-ufo {
  position: absolute;
  top: 17.25rem;
  left: 57.38rem;
  letter-spacing: 0.15em;
  display: inline-block;
  width: 18.88rem;
  height: 1.81rem;
  -webkit-text-stroke: 1px #000;
}
.unbelievably-funny-observers {
  position: absolute;
  top: 19.88rem;
  left: 56.44rem;
  font-size: 1.13rem;
  letter-spacing: 0.15em;
  font-family: "Palanquin Dark";
  color: #a2d8ab;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.footer {
  position: absolute;
  top: 220.31rem;
  left: -18.94rem;
  width: 131.31rem;
  height: 53.75rem;
  font-size: 2.25rem;
  color: #fff;
}
.card-child {
  position: absolute;
  top: 13.23rem;
  left: 40.19rem;
  background-color: rgba(0, 223, 85, 0.5);
  filter: blur(450px);
  width: 21.75rem;
  height: 4.94rem;
}
.card-item,
.image-13-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  height: 24.38rem;
}
.image-13-icon {
  width: 24.94rem;
  object-fit: cover;
}
.card-item {
  background: linear-gradient(
    170.64deg,
    rgba(68, 68, 68, 0.25),
    rgba(22, 100, 44, 0.22)
  );
  width: 65.94rem;
}
.card-inner {
  position: absolute;
  top: 6.47rem;
  left: 27.16rem;
  border-top: 5px solid rgba(106, 255, 148, 0.5);
  box-sizing: border-box;
  width: 7.44rem;
  height: 0.31rem;
}
.p {
  margin: 0;
}
.kepler-22b-has-diverse-container {
  position: absolute;
  top: 7.13rem;
  left: 27.31rem;
  letter-spacing: 0.2em;
  line-height: 1.88rem;
  display: inline-block;
  width: 36rem;
  height: 11.44rem;
}
.land-and-ocean-container {
  position: absolute;
  top: 2.76rem;
  left: 27.31rem;
  font-size: 2rem;
  letter-spacing: 0.15em;
  font-family: "Mochiy Pop One";
  color: #66ff7e;
  display: inline-block;
  width: 22.38rem;
  height: 7.71rem;
}
.card,
.rectangle-div {
  position: absolute;
  top: 44.81rem;
  left: 13.63rem;
  width: 65.94rem;
  height: 24.38rem;
}
.rectangle-div {
  top: 1.51rem;
  left: 43rem;
  background-color: rgba(156, 127, 236, 0.5);
  filter: blur(450px);
  width: 21.75rem;
  height: 6.2rem;
}
.line-div {
  position: absolute;
  top: 7.53rem;
  left: 27.16rem;
  border-top: 5px solid rgba(154, 125, 234, 0.5);
  box-sizing: border-box;
  width: 7.44rem;
  height: 0.31rem;
}
.while-kepler-22b-can-container {
  position: absolute;
  top: 9.88rem;
  left: 27.44rem;
  letter-spacing: 0.2em;
  line-height: 1.88rem;
  display: inline-block;
  width: 34.63rem;
  height: 11.39rem;
}
.alien-ecosystems {
  position: absolute;
  top: 3.6rem;
  left: 27.31rem;
  font-size: 2rem;
  letter-spacing: 0.15em;
  font-family: "Mochiy Pop One";
  color: #9c7fec;
  display: inline-block;
  width: 28.63rem;
  height: 3.85rem;
}
.image-15-icon {
  position: absolute;
  top: 0;
  left: 0.13rem;
  border-radius: 20px;
  width: 25.34rem;
  height: 24.38rem;
  object-fit: cover;
}
.card-child1,
.card1 {
  position: absolute;
  width: 65.94rem;
  height: 24.38rem;
}
.card-child1 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    170.64deg,
    rgba(68, 68, 68, 0.25) 48.44%,
    rgba(154, 125, 234, 0.5)
  );
}
.card1 {
  top: 110.69rem;
  left: 13.31rem;
}
.group-child {
  border-radius: 20px;
  background: linear-gradient(
    170.64deg,
    rgba(68, 68, 68, 0.25) 48.44%,
    rgba(252, 152, 50, 0.5)
  );
}
.group-child,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.94rem;
  height: 24.38rem;
}
.card-child2 {
  position: absolute;
  top: 7.53rem;
  left: 27.16rem;
  border-top: 5px solid #fc9832;
  box-sizing: border-box;
  width: 7.44rem;
  height: 0.31rem;
}
.kepler-22b-resides-in {
  position: absolute;
  top: 8.63rem;
  left: 27.31rem;
  letter-spacing: 0.2em;
  line-height: 1.88rem;
  display: inline-block;
  width: 34.63rem;
  height: 11.39rem;
}
.just-right-temperature-container {
  position: absolute;
  top: 3.59rem;
  left: 27.31rem;
  font-size: 2rem;
  letter-spacing: 0.15em;
  font-family: "Mochiy Pop One";
  color: #fc9832;
  display: inline-block;
  width: 37.44rem;
  height: 6.37rem;
}
.card-child3 {
  position: absolute;
  top: 1.51rem;
  left: 43rem;
  background-color: rgba(252, 152, 50, 0.5);
  filter: blur(450px);
  width: 21.75rem;
  height: 6.2rem;
}
.card-child4,
.card2 {
  position: absolute;
  height: 24.38rem;
}
.card2 {
  top: 176.56rem;
  left: 12.81rem;
  width: 65.94rem;
}
.card-child4 {
  top: 0;
  left: 0;
  border-radius: 19.79px;
  background: linear-gradient(
    170.64deg,
    rgba(50, 50, 51, 0.5) 47.4%,
    rgba(66, 220, 222, 0.5)
  );
  width: 65.51rem;
}
.card-child5 {
  position: absolute;
  top: 4.69rem;
  left: 0;
  background-color: rgba(42, 203, 205, 0.5);
  filter: blur(445.36px);
  width: 21.53rem;
  height: 6.2rem;
}
.card-child6 {
  position: absolute;
  top: 7.66rem;
  left: 4.69rem;
  border-top: 4.9px solid rgba(66, 220, 222, 0.5);
  box-sizing: border-box;
  width: 7.36rem;
  height: 0.31rem;
}
.kepler-22b-has-an {
  position: absolute;
  top: 9rem;
  left: 4.85rem;
  letter-spacing: 0.2em;
  line-height: 1.88rem;
  display: inline-block;
  width: 37.11rem;
  height: 11.39rem;
}
.breathable-atmosphere {
  position: absolute;
  top: 3.13rem;
  left: 3.78rem;
  font-size: 1.98rem;
  letter-spacing: 0.15em;
  font-family: "Mochiy Pop One";
  color: #2acbcd;
  display: inline-block;
  width: 37.98rem;
  height: 3.89rem;
}
.image-14-icon {
  top: 0;
  left: 41.36rem;
  border-radius: 19.79px;
  width: 24.81rem;
  object-fit: cover;
}
.card-child7,
.card3,
.image-14-icon {
  position: absolute;
  height: 24.38rem;
}
.card3 {
  top: 77.75rem;
  left: 14.19rem;
  width: 65.72rem;
  font-size: 0.99rem;
}
.card-child7 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(
    170.64deg,
    rgba(32, 32, 32, 0.5) 47.4%,
    rgba(217, 217, 217, 0.5)
  );
  width: 66.19rem;
}
.card-child8 {
  position: absolute;
  top: 6.84rem;
  left: 3.44rem;
  background-color: #e2d0c2;
  filter: blur(450px);
  width: 21.75rem;
  height: 6.09rem;
}
.card-child9 {
  position: absolute;
  top: 7.5rem;
  left: 5.03rem;
  border-top: 5px solid #e2d0c2;
  box-sizing: border-box;
  width: 7.44rem;
  height: 0.31rem;
}
.kepler-22b-is-a,
.the-future-beckons {
  position: absolute;
  display: inline-block;
}
.kepler-22b-is-a {
  top: 9.4rem;
  left: 5.75rem;
  letter-spacing: 0.2em;
  line-height: 1.88rem;
  width: 37.63rem;
  height: 11.19rem;
}
.the-future-beckons {
  top: 3.05rem;
  left: 5.19rem;
  font-size: 2rem;
  letter-spacing: 0.15em;
  font-family: "Mochiy Pop One";
  color: #e2d0c2;
  width: 31.81rem;
  height: 3.79rem;
}
.image-16-icon {
  position: absolute;
  top: 0;
  left: 42.68rem;
  border-radius: 20px;
  width: 24.19rem;
  height: 24.38rem;
  object-fit: cover;
}
.card4,
.group-item {
  position: absolute;
  top: 143.63rem;
  left: 12.81rem;
  width: 66.44rem;
  height: 24.38rem;
}
.group-item {
  top: 2.06rem;
  left: 12.5rem;
  background-color: #d9d9d9;
  filter: blur(500px);
  width: 37.06rem;
  height: 3.06rem;
}
.features-kepler-habitable-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.15em;
  background: linear-gradient(
    89.98deg,
    rgba(106, 255, 148, 0.82),
    #42dcde 26.16%,
    #9c7fec 52.61%,
    #fc9832 76.74%,
    #c22300
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-wrap;
  display: inline-block;
  width: 71.13rem;
  height: 7.19rem;
}
.rectangle-parent {
  position: absolute;
  top: 27.06rem;
  left: 16.56rem;
  width: 71.13rem;
  height: 7.19rem;
  font-size: 4rem;
  font-family: Blinker;
}
.menu-icon {
  position: relative;
  width: 1.69rem;
  height: 1.69rem;
  overflow: hidden;
  flex-shrink: 0;
}
.r,
.solar-title {
  position: absolute;
}
.r {
  top: 0;
  left: 64.5rem;
  width: 6.17rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.solar-title {
  top: 0.06rem;
  left: 0;
  font-size: 2rem;
  display: inline-block;
  width: 33.63rem;
  height: 3.38rem;
}
.solar-title2,
.solar-title3,
.solar-title4 {
  position: absolute;
  letter-spacing: 0.08em;
  font-weight: 600;
  display: inline-block;
  height: 1.25rem;
}
.solar-title2 {
  top: 0.06rem;
  left: 33.63rem;
  width: 5.13rem;
}
.solar-title3,
.solar-title4 {
  top: 0;
  left: 39.63rem;
  width: 8.88rem;
}
.solar-title4 {
  left: 51.69rem;
  color: #66ff7e;
}
.creating-worlds-beyond {
  position: absolute;
  top: 3.31rem;
  left: 0.75rem;
  letter-spacing: 2px;
  color: #6aff94;
  display: inline-block;
  width: 28.44rem;
}
.header {
  position: absolute;
  top: 6.63rem;
  left: 11.38rem;
  width: 70.67rem;
  height: 4.75rem;
  font-size: 1.25rem;
  color: #fff;
  font-family: Trispace;
}
.features-child {
  position: absolute;
  top: 22.88rem;
  left: -42rem;
  border-radius: 400px;
  background-color: #111015;
  border: 6px solid rgba(106, 255, 148, 0.5);
  box-sizing: border-box;
  width: 4rem;
  height: 57.38rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.features {
  position: relative;
  background-color: #111015;
  width: 100%;
  height: 272.19rem;
  overflow: hidden;
  text-align: left;
  font-size: 1rem;
  color: snow;
  font-family: Orbitron;
}
